//Fonts inport
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Nunito:wght@300&display=swap');

$color-primary: #c69963;
$color-primary-dark: #828451;


$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #605d4b;

//Font Variables
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;


*,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    font-size:  62.5%;
}

body {
    font-family: $font-primary;
    color: $color-grey-dark-2;
    font-weight: 300;
    line-height: 1.6;
}



//Inheritance in scss
%heading {
    font-family:$font-display;
    font-weight: 400;
}

.heading-1{
    @extend %heading;
    font-size: 4.5rem;
    color: $color-grey-light-1;
    line-height: 1;
}
.heading-2{
    @extend %heading;
    font-size: 4rem;
    font-style: italic;
    line-height: 1;
    &--light { color: $color-grey-light-1;}
    &--dark { color: $color-grey-dark-1;}
}
.heading-3{
    @extend %heading;
    font-size: 1.6rem;
    color: $color-primary;
    text-transform: uppercase;
}
.heading-4{
    @extend %heading;
    font-size: 1.9rem;

    &--light { color: $color-grey-light-1;}
    &--dark { color: $color-grey-dark-1;}
    
}
.btn{
    background-color: $color-primary;
    color: #fff;
    border: none;
    border-radius: 0;
    font-family: $font-display;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.8rem 3rem ;
    cursor: pointer;
    transition: all .2s ;

    &:hover{
        background-color: $color-primary-dark;
    }
}

.mb-sm {
    margin-bottom: 2rem;
}
.mb-md {
    margin-bottom: 3rem;
}
.mb-lg {
    margin-bottom: 4rem;
}
.mb-hg {
    margin-bottom: 8rem;
}
